.text-pink{
    color: #21B76D !important;
}

.offer-btn{
    background-color: #9a266a8d !important;
    padding: 8px 30px !important;
    border: 1px solid #ffffff7e !important;
    border-radius: 7px !important;
    font-weight: 700;
}