.cat-title{
    color: #9a266a;
     font-size: 20px;
     font-weight: 700;
}

.bg-green{
    background-color: #9a266a !important;
    color: #FFFFFF;
    padding-left: 10px;
    padding-right: 10px;
}

.fa-star{
    color: #ffcc79 !important;
}