<div class="product-item bg-light mb-4" >
    <div class="product-img position-relative overflow-hidden">
        <img class="img-fluid w-100" [src]="produit.image" [alt]="produit.name">
        <div class="product-action">
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
        </div>
    </div>
    <div class="text-center py-4">
        <a [routerLink]="'product/details/'+produit?.id" class="h6 text-decoration-none  text-center" style="display: block; max-width: 100%;"  >{{produit.name}}</a>
        <div class="d-flex align-items-center justify-content-center mt-2">
            <h5>CFA {{produit.price}}</h5>
        </div>
        <div class="d-flex align-items-center justify-content-center mb-1">
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
            <small class="fa fa-star text-primary mr-1"></small>
        </div>
    </div>
</div>